acl_25

*keys*.json
*.csv
*.parquet
*.zip
*.jsonl
*.npz
*.npy
*.joblib
*.pkl

!articles.csv
__pycache__

*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz

openwebmath_lziv_distance.py
!data/wiki_ml_zeroshot.parquet